<?xml version="1.0" encoding="gb2312" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!--<param name="ConversionPattern" value="%d [%15t] [%30.30C{1}] [%3L] %6p - %m %n"/>-->
            <param name="ConversionPattern" value="%d %6p - %m %n"/>
        </layout>
    </appender>
    <appender name="LogFile" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/tmp/redis-migration"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'_'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p - %m |||| %l%n"/>
        </layout>
    </appender>
    <category name="com.jd.si" additivity="false">
        <priority value="ERROR"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="LogFile"/>
    </category>
    <root>
        <priority value="ERROR"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="LogFile"/>
    </root>

</log4j:configuration> 